llama-index==0.12.16
llama-index-vector-stores-qdrant==0.4.3
llama-index-llms-llama-cpp==0.4.0
llama-index-embeddings-huggingface==0.5.1
requests
gradio==4.44.1
flask
deep_translator
horde_sdk==0.17.1
ollama
git+https://github.com/openai/CLIP.git
pytorch_lightning
bitsandbytes
accelerate
safetensors
opencv-python
imagehash
scikit-image
spacy
transformers
pillow
waitress
llama-cpp-python==0.3.16
qdrant-client
sentence-transformers
